<!DOCTYPE html>
<html>
{% block header %}
<head>
<title>Welcome to my site friend</title>

</head>
{% endblock%}
{% block body %}
 <body>
 <p><a href="#" onClick="logInWithFacebook()">Log In with the JavaScript SDK</a></p>

 <script>
/*     window.fbAsyncInit = function() {
         FB.init({
             appId      : '*******',
             xfbml      : true,
             version    : 'v2.8'
         });
         FB.getLoginStatus(function(response) {
             if (response.status === 'connected') {
                 //console.log('Logged in.');
                 console.log(response.authResponse.accessToken);
             }
             else {
                 FB.login();
             }
         });
         FB.AppEvents.logPageView();
     };
*/


logInWithFacebook = function() {
    FB.login(function(response) {
        if (response.authResponse) {
            alert('You are logged in &amp; cookie set!---token='+response.authResponse.accessToken);
            console.log(response.authResponse.accessToken);


            // Now you can redirect the user or do an AJAX request to
            // a PHP script that grabs the signed request from the cookie.
        } else {
            alert('User cancelled login or did not fully authorize.');
        }
    });
    return false;
};
window.fbAsyncInit = function() {
    FB.init({
        appId: '156169728227865',
        cookie: true, // This is important, it's not enabled by default
        version: 'v2.8'
    });
};

(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));



  /*window.fbAsyncInit = function() {
      FB.init({
          appId      : '********',
          xfbml      : true,
          version    : 'v2.8'
      });
      FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
              //console.log('Logged in.');
              console.log(response.authResponse.accessToken);
          }
          else {
              FB.login();
          }
      });
      FB.AppEvents.logPageView();
  };

  (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  */
 </script>



 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
      <ul class="nav nav-tabs">
          <li class="active"><a href="{{ path('homepage')}}">home</a></li>
          <li><a href="{{ path('apikey')}}"> authorization key-api</a></li>
          <li><a href="{{ path('connect_facebook')}}">authorization facebook</a></li>
          <li><a href="{{ path('connect_vk')}}">authorization vk</a></li>
          <li><a href="{{ path('secret_part')}}">login secret part</a></li>
          <li><a href="{{ path('facebook_sdk')}}">facebook_sdk</a></li>



      </ul>

<br>



  </body>
{% endblock%}
{% block footer %}
{% endblock%}
</html>
